div {
  width: 80%;
  height: 300px;
  
}
header {
  display: flex;
  color: #005599;
  justify-content: space-between;
  margin-bottom: 50px;
}
.parent {
  font-size: 20px;
  font-weight: bold;
  flex-direction: row;

}
.child {
  font-size: 16px;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
}
.title {
  top: 60%;
  font-weight: normal;
}
.img {
  background: url(../img/firstview.jpeg);
  background-size: cover;
  height: 300px;
  width: 50%;
  float: right;
  position: relative;
  z-index: 10;
}
.box-wrap{
  position: absolute;
  top: 35%;
}
.box {
  height: 80px;
  width: 500px;
  background-color: #033399;
  z-index: 0;
  position: relative;
  top: -30px;
}
